<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/Netflix/static/Netflix-web/styles.css">
</head>
<body>
    <form class="formulario-login" >
        <h1>Entrar</h1>
        <div class="campo-input">
            <input type="text" name="email-usuario" id="email-usuario" placeholder="Email ou número de Telefone">
        </div>
        <div class="campo-input">
            <input type="password" name="senha-usuario" id="senha-usuario" placeholder="Senha">
        </div>
        <button type="submit" class="botao botao-primario botao-ghost">Entrar</button>
    </form>
</body>
</html>